* {
	box-sizing: border-box; /* Apply border-box model to all elements */
  }

html, body {
	background-color: #F5F5F5;
	margin: 0px;
}

header {
	color: #FFFFFF;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items horizontally */
}

header .left-pos {
    width: calc(70% - 50px); /* Adjusted width */
    text-align: left;
    background-color: #4B0082;
    border: solid 1px;
    border-color: #ffffff;
    border-radius: 0px 0px 50px 0px;
    font-size: 16px;
    font-style: normal;
    padding: 10px; /* Added padding for better spacing */
}

header .left-pos .title {
	color: #FFFFFF;
    text-align: center;
	text-decoration: none; 
}

header .right-pos {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    gap: 10px; /* Added gap between elements */
}

header .right-pos .create {
	color: #FFFFFF;
    text-align: center;
	text-decoration: none;
    width: 65%;
    background-color: #4B0082;
    border: solid 1px;
    border-color: #ffffff;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    padding: 10px; /* Added padding for better spacing */
}

header .right-pos .account {
    width: 35%;
    background-color: #FFA500;
    border: solid 1px;
    border-color: #ffffff;
    border-radius: 0px 0px 0px 50px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    padding: 10px; /* Added padding for better spacing */
}

header .right-pos .account img {
    height: 75px;
    width: 75px;
    margin-top: 5px;
}


footer {
	color: #FFFFFF;
	display: flex; /* Changed from inline-flex to flex */
	align-items: center; /* Vertically centers the child elements */
	justify-content: space-between; /* Distributes space between elements */
	width: 100%;
	height: 100px;
	background-color: #4B0082;
	border-top: solid 5px #ffffff; /* Combined border-top and border-color */
	padding: 0 10px; /* Add some padding on the sides */
}


footer .separator {
	height: 85%;
	border: solid 3px #ffffff; /* Combined border and border-color */
	margin: auto 5px; /* Centered vertically and 10px margin on the sides */
}


footer .logo img {
	width: 75px;
	height: 75px;
	margin-top: 5px;
	margin-left: 5px; /* These margins are fine if you're satisfied with the positioning */
}

footer .contacts, footer .email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px; /* Adjust margin to control space between separator and these blocks */
    margin-right: 5px; /* Same for the right side, assuming symmetry is desired */
}


footer .contacts img,
footer .email img {
	width: 25px;
	height: 25px;
	margin: 0 5px; /* Adjust based on your preference for spacing around images */
}


